# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 
*.test

# Output of the go coverage tool
*.out
coverage.txt
profile.cov

# Dependency directories (only include if you don't use Go modules)
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment files
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# log and state files
localdata/**
*_log.json
*_state.json
*_snapshot.json
*_log.jsonl
*_state.jsonl
*_snapshot.jsonl

